@model Team
@{
    ViewData["Title"] = "Former Members";
}

<header class="header">
    <br />
    <h1>@ViewData["Title"]</h1><hr />
    <br />
</header>


<div class="tabcontent">
    <div class="tab-content">
        <article>
            @*<h2>Past members</h2>*@
            <h4>While our transcriptome and lab have changed, our companionship remains the same.</h4>
            <br />
            <div class="row">
                @foreach (var person in Model.TeamMembers)
                {
                    @if (person.CurrentMember == "N")
                    {
                        @using (Html.BeginForm("MemberInfo", "RytenLab", FormMethod.Post, new { @id = @person.ID }))
                        {
                            <div class="cardColumn">
                                <div class="cardData">
                                    <figure>
                                        <a href="#" title="@person.Name" onclick="javascript:sendForm(@person.ID)">
                                            <img src="/images/modified/filter/@person.ImagePath" alt="@person.Name" class="card-img">
                                        </a>
                                    </figure>
                                    <div class="cardMember">
                                        <h3 class="cardName">@person.Name</h3>
                                        <p class="cardTitle">@Html.Raw(@person.Job)</p>
                                        <!--<p class="cardEmail"><a href="mailto:@person.Email">@person.Email</a></p>-->
                                        <p>
                                            <input type="submit" value="View" class="cardButton" onclick="javascript:sendForm(@person.ID)" />
                                        </p>
                                        @Html.HiddenFor(m => person.Name)
                                        @Html.HiddenFor(m => person.ImagePath)
                                        @Html.HiddenFor(m => person.Title)
                                        @Html.HiddenFor(m => person.Job)
                                        @Html.HiddenFor(m => person.Email)
                                        @Html.HiddenFor(m => person.NCBIPublicationsID)
                                        @Html.HiddenFor(m => person.ResearchInterest)
                                        @Html.HiddenFor(m => person.GitHub)
                                        @Html.HiddenFor(m => person.ResearchGate)

                                        @Html.HiddenFor(m => person.Biography)
                                        @Html.HiddenFor(m => person.CurrentMember)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </article>
    </div>
</div>





@section Scripts{
    <link rel="stylesheet" href="~/css/album.css" />

    <script type="text/javascript">
        function sendForm(memberID) {
            $("#" + memberID).submit();
            return false;
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_team").addClass("active");
        });

    </script>
}


