@model Person
@{
    //View to show 'Member Info' page
    ViewData["Title"] = "Member Info";
}


<header class="header">
    <h1>@Model.Name</h1>
    <hr />
</header>
<article>
    <div class="media-left media-top little-image">
        <a href="mailto:@Model.Email" title="Get in touch with @Model.Name">
            <img src="~/images/modified/filter/@Model.ImagePath" alt="@Model.Name" class="media-object little-image">
        </a>
    </div>
    <div class="media-body">
        <address style="padding-top:5px;">
            <strong style="font-size:17px">@Model.Name</strong><br />
            <p>
                @Model.Title<br />
                @Html.Raw(Model.Job.Replace("\n\r", "<br>"))
            </p>
            <small>
                <strong>E-mail: </strong><a href="mailto:@Model.Email">@Model.Email</a><br />
                @if (!String.IsNullOrEmpty(Model.GitHub))
                {
                    <strong>GitHub: </strong><a href="https://github.com/@Model.GitHub" target="_blank">@Model.GitHub</a><br />
                }
                @if (!String.IsNullOrEmpty(Model.ResearchGate))
                {
                    <strong>ResearchGate: </strong><a href="https://www.researchgate.net/profile/@Model.ResearchGate" target="_blank">@Model.ResearchGate</a><br />
                }
            </small>
        </address>
    </div>
    <br />

    @if (!String.IsNullOrEmpty(Model.ResearchGate))
    {
        <h3>Publications</h3>
        <p>Latest publications of @Model.Name available on <a href="https://www.researchgate.net/profile/@Model.ResearchGate" target="_blank">ResearchGate</a>.</p>
    }

    <h3>Research Interests</h3>
    <p>@Model.ResearchInterest</p>


    <h3>Biography</h3>
    <p>@Html.Raw(@Model.Biography)</p>
    @if (@Model.Name.Contains("Mina"))
    {
        <img src="~/images/mina-bio.PNG" title="@Model.Name" alt="@Model.Name" class="mina-biography">
    }


</article>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_team").addClass("active");
        });
    </script>

}
