@model Person
@{
    //View to show 'Member Info' page
    ViewData["Title"] = "Member Info";
}


<header class="header">
    <h1>@Model.Name</h1>
    <hr />
</header>
<article>
    <div class="row col-12">
        <div class="col-lg-4">
            <figure>
                <a href="mailto:@Model.Email" title="Get in touch with @Model.Name">
                    <img src="~/images/modified/filter/@Model.ImagePath" alt="@Model.Name" class="img-fluid little-image">
                </a>
            </figure>
        </div>

        <div class="col-lg-5">
            @*<address style="padding-top:5px;">*@

            <h3><strong>@Model.Name</strong></h3>
            <p>

                @Model.Title<br />
                @Model.Job<br />
            </p>
            @*<small>*@
            <i class="fa fa-at" style="font-size:24px"></i>
            <a href="mailto:@Model.Email">@Model.Email</a><br />
            @if (!String.IsNullOrEmpty(Model.GitHub))
            {
                <i class="fab fa-github" style="font-size:24px"></i>
                <a href="https://github.com/@Model.GitHub" target="_blank">@Model.GitHub</a><br />
            }
            @if (!String.IsNullOrEmpty(Model.GoogleScholar))
            {
                <i class="fab fa-google" style="font-size:24px"></i> 
                <a href="https://tinyurl.com/@Model.GoogleScholar" target="_blank">@Model.GoogleScholar</a>

                <br />
            }
            @if (!String.IsNullOrEmpty(Model.ResearchGate))
            {
                <i class="fab fa-researchgate" style="font-size:24px"></i>
                <a href="https://www.researchgate.net/profile/@Model.ResearchGate" target="_blank">@Model.ResearchGate</a><br />
            }
            @*</small>*@
            @* </address>*@
        </div>
        <br />
        <div class="col-md-12">
            @if (!String.IsNullOrEmpty(Model.ResearchGate))
            {
                <h3>Publications</h3>
                <p>Latest publications of @Model.Name available on <a href="https://www.researchgate.net/profile/@Model.ResearchGate" target="_blank">ResearchGate</a>.</p>
            }

            <h3>Research Interests</h3>
            <p>@Model.ResearchInterest</p>


            <h3>Biography</h3>
            <span style="white-space: pre-line">@Model.Biography</span>
            @if (@Model.Name.Contains("Mina"))
            {
                <img src="~/images/mina-bio.PNG" title="@Model.Name" alt="@Model.Name" class="mina-biography">
            }

            @if (@Model.Name.Contains("Zhongbo"))
            {
                <h3>More</h3>
                <p>UCL webpage: <a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=ZCHED42" target="_blank">https://iris.ucl.ac.uk/iris/browse/profile?upi=ZCHED42</a></p>
            }

        </div>
    </div>
</article>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_team").addClass("active");
        });
    </script>

}
