@{
    //View for 'Tools' page
    ViewData["Title"] = "Publications";
}

<header class="header">
    <h1>@ViewData["Title"]</h1>
    <hr />
</header>
<article>
    <h4>We have many tools and all of them are available on the following links:</h4>
    <br />
    <div class="well">
        <h3>AWS S3 Integrity Check</h3>
        <hr />
        <p>
            Bash tool to verify the integrity of a dataset uploaded/downloaded to/from an Amazon S3 bucket.
        <p>
            <span style="font-weight: 550;">Publication:</span>
            <a href="https://gigabytejournal.com/articles/87" title="Read 'aws-s3-integrity-check: an open-source bash tool to verify the integrity of a dataset stored on Amazon S3'" target="_blank">
                aws-s3-integrity-check: an open-source bash tool to verify the integrity of a dataset stored on Amazon S3
            </a>
        </p>
        <hr />
        <a class="btn btn-primary button" href="https://github.com/SoniaRuiz/aws-s3-integrity-check" role="button" target="_blank"><i class="fab fa-github" style="font-size:24px"></i> View Code</a>
        <a class="btn btn-primary button" href="https://hub.docker.com/r/soniaruiz/aws-s3-integrity-check" role="button" target="_blank"><i class="fab fa-docker" style="font-size:24px"></i> Docker</a>
        
    </div>
    
</article>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
                $("#tab_publications").addClass("active");

        });
    </script>
}

@* @model Person
@{
    //View for 'Publications' page. The code appears duplicated in order to show the data ordered by year.
    ViewData["Title"] = "Publications";
}
<header class="header">
    <h1>@ViewData["Title"]</h1>
    <hr />
</header>
<article>
    <h2>Accepted</h2>
    <h3 class="year-main">2018</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2018"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2017</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2017"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2016</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2016"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2015</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2015"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year">2014</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2014"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                @if (@publication.Title.Contains("Genetic variability in the regulation of gene expression in ten regions of the human brain"))
                {
                    <p>Supporting <a href="http://braineac.org/" target="_blank">data</a></p>
                }
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2013</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2013"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2012</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2012"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2011</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2011"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2010</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2010"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2009</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2009"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2008</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2008"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2005</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2005"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2004</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2004"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2003</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2003"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    <h3 class="year-main">2002</h3>
    @foreach (var publication in Model.NCBIPublicationsList)
    {
        @if (@publication.Date.Contains("2002"))
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
</article>
 *@