@model Publications
@{
    //View for 'Publications' page. The code appears duplicated in order to show the data ordered by year.
    ViewData["Title"] = "Publications";
}

<header class="header">
    <br />
    <h1>@ViewData["Title"]</h1><hr />
    <br />
</header>
<article>
    <p>Our <strong>multidisciplinary</strong> team works across a variety of research projects that are reflected through our list of publications (displayed by publication date): </p>
    <br />
    @foreach (var publication in Model.Manuscripts)
    {

    <div class="well">

        <h3>@publication.Title</h3>
        <hr />
            <p><em>@publication.Authors</em></p>
            <p class="small"> @publication.Abstract </p>
            <p><em> @publication.JournalInfo </em></p>
        
        <hr />
        <a class="btn btn-primary button" href="@publication.DOI" role="button" target="_blank"><i class="fab fa-readme" style="font-size:24px"></i> Read</a> 

    </div>

    }

</article>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_science").addClass("active");
        });
    </script>

}