@model Person
@{
    ViewData["Title"] = "Member Info";
}


<header class="header">
    <h1>@Model.Name</h1>
    <hr />
</header>
<article>
    <div class="media-left media-top">
        <img src="~/images/modified/filter/@Model.ImagePath" title="@Model.Name" alt="@Model.Name" class="media-object little-image">
    </div>
    <div class="media-body">
        <address style="padding-top:5px;">
            <strong>@Model.Name</strong><br />
            <p>@Model.Job</p>
            @if (!String.IsNullOrEmpty(Model.GitHub))
            {
            <strong>GitHub: </strong><a href="https://github.com/@Model.GitHub" target="_blank">https://github.com/@Model.GitHub</a><br />
            }
            <strong>E-mail: </strong><a href="mailto:@Model.Email">@Model.Email</a><br />
        </address>
    </div>
    <br />


    <h3>Research Interests</h3>
    <p>@Model.ResearchInterest</p>


    <h3>Biography</h3>
    <p>@Model.Biography</p>


    @if (Model.CrossRefPublicationsList.Count > 0 || Model.NCBIPublicationsList.Count > 0)
    {
        <h3>Publications</h3>
    }
    @if (Model.CrossRefPublicationsList.Count > 0)
    {
        <h4 class="year-main">Pre-print</h4>
        @foreach (var publication in Model.CrossRefPublicationsList)
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22) { 
                                <span>@publication.Authors[i]...</span> 
                                break;
                            }
                            else { 
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br /><br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
    @if (Model.NCBIPublicationsList.Count > 0)
    {
        <h4 class="year">Accepted</h4>
        @foreach (var publication in Model.NCBIPublicationsList)
        {
            <div class="well">
                <h4>@publication.Title</h4>
                <small>

                    @for (var i = 0; i < publication.Authors.Count; i++)
                    {
                        if (i < publication.Authors.Count - 1)
                        {
                            if (i == 22)
                            {
                                <span>@publication.Authors[i]...</span>
                                break;
                            }
                            else
                            {
                                <span>@publication.Authors[i], </span>
                            }
                        }
                        else
                        {
                            <span>@publication.Authors[i]</span>
                        }
                    }
                </small><br />
                <br />
                <p class="publication">Published in @publication.JournalName - @publication.Date</p>
                @if (@publication.Title.Contains("Genetic variability in the regulation of gene expression in ten regions of the human brain"))
                {
                    <p class="publication">Supporting <a href="http://braineac.org/" target="_blank">data</a></p>
                }
                <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
            </div>
        }
    }
</article>
