@model Person
@{
    ViewData["Title"] = "Publications";
}
<h2>Publications</h2>

<h3>Accepted</h3>
<h4>2018</h4>
@foreach (var publication in Model.NCBIPublicationsList)
{
    @if (@publication.Date.Contains("2018"))
    {
        <div class="well">
            <h4>@publication.Title</h4>
            <small>

                @for (var i = 0; i < publication.Authors.Count; i++)
                {
                    if (i < publication.Authors.Count - 1)
                    {
                        <span>@publication.Authors[i], </span>
                    }
                    else
                    {
                        <span>@publication.Authors[i]</span>
                    }
                }
            </small><br /><br />
            <p class="publication">Published in @publication.JournalName - @publication.Date</p>
            <a class="btn btn-primary" href="@publication.Link" role="button" target="_blank">View »</a>
        </div>
    }

}